---
layout: default
---

<section data-background-image="{{ site.baseurl }}/assets/img/background.jpg">
  <h1 class="display-1 text-white"><b><small class="text-uppercase">Welcome to</small><br>New Hire Bootcamp</b></h1>
</section>

<!-- {% include training-schedule.html %} -->

<section>
  <h1 class="display-3"><b>Learning Outcome</b></h1>
  <section>
    <div class="row">
      <div class="col-9">
        <h2>After this bootcamp everyone must be able to apply the theories and principles when designing products/software and be able to implement it through the use web technologies.</h2>
        <!-- <br>
        <h2><small><b>Mini Project:</b></small><br>Online Booking/Reservation Platform</h2>
        <p>(Design, Code)</p> -->
      </div>
    </div>
  </section>
</section>


<section>
  <h1 class="display-1"><b>Principles of Design</b></h1>
  <p>
    Jasper John L. Lepardo<br/>
    <small class="text-muted">UI/UX Designer</small>
  </p>
</section>

<section>
  <h1 class="display-3"><b>What we will learn today</b></h1>
  <section>
    <ul>
      <!-- <li>The Psychology of Color</li> -->
      <li>Elements of Visual Design</li>
      <li>Principles of Design</li>
      <li>Gestalt Theory</li>
      <li>Laws of UX</li>
      <li>Tips & Tricks</li>
    </ul>
  </section>
</section>


<!-- {% include the-psychology-of-color.html %} -->

{% include elements-of-visual-design.html %}

{% include principles-of-design.html %}

<section>
  <div class="row">
    <div class="col-8 offset-2">
      <img class="img-fluid" src="{{ site.baseurl }}/assets/img/google-homepage.jpg" alt="">
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-8 offset-2">
      <img class="img-fluid" src="{{ site.baseurl }}/assets/img/quartz-homepage.jpg" alt="">
    </div>
  </div>
</section>

{% include gestalt-theory.html %}

{% include laws-of-ux.html %}

{% include tips-and-tricks.html %}

