<section>
  <h1 class="display-3"><b>Tips &amp; Tricks: Cheating at Design</b></h1>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Use color and weight to create hierarchy instead of size</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-1.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Don’t use grey text on colored backgrounds</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-2.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Offset your shadows</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-3.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Use fewer borders</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-4.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Don’t blow up icons that are meant to be small</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-5.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Use accent borders to add color to a bland design</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-6.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Not every button needs a background color</h2>
        <img class="img-fluid mt-4 mb-2" src="{{ site.baseur }}/assets/img/cheating-at-design-7.png" alt="">
        <!-- <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p> -->
      </div>
    </div>
  </section>
</section>