<section>
  <h1 class="display-3"><b>Tips &amp; Tricks: Form Design</b></h1>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Forms should be one column</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-1.jpeg" alt="">
        <p class="small text-muted">Multiple columns disrupt a users vertical momentum.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Top align labels</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-2.jpeg" alt="">
        <p class="small text-muted">Users complete top aligned labeled forms at a much higher rate than left aligned labels. Top aligned labels also translate well on mobile. However, consider using left aligned labels for large data-set entry with variable optionality because they are easier to scan together, they reduce height, and prompt more consideration than top aligned labels.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Group labels with their inputs</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-3.jpeg" alt="">
        <p class="small text-muted">Present the label and input close together, and make sure there is enough height between the fields so users don’t get confused.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Avoid all caps</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-4.jpeg" alt="">
        <p class="small text-muted">All caps is more difficult to read and scan.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Show all selection options if under 6</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-5.jpeg" alt="">
        <p class="small text-muted">Placing options in a selector drop-down requires two clicks, and hides the options. Use an input selector if there are over 5 options. Incorporate contextual search within the drop-down if there are over 25 options.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Resist using placeholder text as labels</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-6.jpeg" alt="">
        <p class="small text-muted">It is tempting to optimize space by using placeholder text as labels. This causes many usability issues that have been summarized by Katie Sherwin of Nielsen Norman Group.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Place checkboxes (and radios) underneath each other for scannability</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-7.jpeg" alt="">
        <p class="small text-muted">Placing checkboxes underneath each other allows easy scanning.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Make CTAs descriptive</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-8.jpeg" alt="">
        <p class="small text-muted">A call to action should state the intent.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Specify errors inline</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-9.jpeg" alt="">
        <p class="small text-muted">Show the user where the error occurred and provide a reason.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Use inline validation after the user fills out the field (unless it helps them while in the process)</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-10.jpeg" alt="">
        <p class="small text-muted">Don’t use inline validation while the user is typing — unless it helps them — like in the case of creating a password, username, or message with a character count.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Don’t hide basic helper text</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-11.jpeg" alt="">
        <p class="small text-muted">Expose basic helper text wherever possible. For complex helper text, consider placing it next to the input during its focused state.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Differentiate primary from secondary actions</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-12.jpeg" alt="">
        <p class="small text-muted">There is a bigger philosophical debate regarding whether a secondary option should even be included.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Use field length as an affordance</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-13.jpeg" alt="">
        <p class="small text-muted">The length of the field affords the length the answer. Employ this for fields that have a defined character count like phone numbers, zip codes, etc.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Ditch the * and denote optional fields</h2>
        <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-14.jpeg" alt="">
        <p class="small text-muted">Users don’t always know what is implied by the required field marker (*). Instead, it is better to denote optional fields.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-8">
        <h2 class="title">Group related information</h2>
        <div class="row">
          <div class="col-6">
            <img class="img-fluid mb-2" src="{{ site.baseur }}/assets/img/form-design-15.jpeg" alt="">
          </div>
        </div>
        <p class="small text-muted">Users think in batches, and long forms can feel overwhelming. By creating logical groups the user will make sense of the form much faster.</p>
      </div>
    </div>
  </section>
</section>