
<section>
  <h1 class="display-3"><b>Tips &amp; Tricks: Typography</b></h1>
  <section>
    <h2 class="title">Keep the Number of Fonts Used at a Minimum</h2>
    <p>Using more than three typefaces simultaneously can make your app/site look busy and unstructured. It’s better to limit the number of used font families to a minimum (two is plenty, one is often sufficient) and stick to the same ones through the entire website/app.</p>
    <h3>Start by selecting a typeface for your body text</h3>
    <p>This is a very important decision which will affect the decisions of any other typeface like headlines. Body text is the most common element in a product. This is what all your users will see and experience. As a result, the look and feel of your body text will have the greatest impact on the quality of your design.</p>
    <h3>Stay with one font until you master it</h3>
    <p>For beginners, it’s recommended to stay with one font until you have achieved mastery of that font. Play with the styles. Modern typefaces already come with many different styles, which means they share common distinct weights. Typefaces with a larger range of styles can help you differentiate text in special contexts, like a button or a label. A good example is San Francisco typeface from Apple.</p>
    <h3>Ensure font families complement each other</h3>
    <p>If you still want/need to use more than one font, ensure the font families complement each other. Take the example of fonts combinations below. The combination of Georgia and Verdana (left) share similar values that create a harmonious pairing. Compare that to the pairing of Baskerville and Impact (right) where the heavy weight of Impact vastly overshadows its counterpart.</p>
  </section>
</section>