<section>
  <h1 class="display-3"><b>Elements of Visual Design</b></h1>

  <section>
    <h2 class="title">Line</h2>
    <div class="row">
      <div class="col-6">
        <p>A line is simply an element defined by a point moving in space. A line may be two-dimensional, like a diagonal line or a curved arc, or 3-dimensional, moving through the X,Y and Z axes.</p>
        <p>Lines can outline a shape or form, but they can also be implied, through the use of space or the edge of a object.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/line.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Shape</h2>
    <div class="row">
      <div class="col-6">
        <p>A shape is an element of art which is two-dimensional. That means that it is flat, or limited to height and width. Shapes can be geometric – like a square, hexagon or circle – or they can be organic and free form.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/shape.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Form</h2>
    <div class="row">
      <div class="col-6">
        <p>A form is an element of art which is two-dimensional. That means that it is “3D” and has height, width and depth. Examples of “forms” are cubes, pyramids and spheres. But any three-dimensional shape is also a form.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/form.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Value</h2>
    <div class="row">
      <div class="col-6">
        <p>Value is the name given to the lightness or darkness or tones and colours. The lightest value is white, and the darkest is black. The value exactly halfway between these two tones is calls “middle gray”, unimiginatelively.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/value.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Space</h2>
    <div class="row">
      <div class="col-6">
        <p>Space is an element of art where positive and negative areas are defined or a sense of depth is achieved within a work of art. In digital design, this is most often called “Negative Space” and refers to the space between elements, rather than the space occupied by elements on a screen.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/space.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Colour (or Color)</h2>
    <div class="row">
      <div class="col-6">
        <p>Colour, as a fundamental element, is made up of three properties: hue, value, and saturation.</p>
        <p>Hue is the name of the colour, such as red or green.</p>
        <p>Value is the lightness or darkness of the colour, achieved through the addition of black or white. Dark and light would be values of red or green.</p>
        <p>Saturation is the quality of the brightness and purity of a colour. A colour with high saturation is strong and bright. A colour with low saturation is faint and dull.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/color.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Texture</h2>
    <div class="row">
      <div class="col-6">
        <p>Texture refers to the way things feel – whether you’re touching the thing or looking at something and imagining what it may feel like. Textures include soft, hard, smooth, rough, sharp, blunt, and more.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/texture.png" alt="">
      </div>
    </div>
  </section>

</section>