<section>
  <h1 class="display-3"><b>Laws of UX</b></h1>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Fitts’s Law</h2>
        <p>The time required to rapidly move to a target area is a function of the ratio between the distance to the target and the width of the target.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/fitts-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>It is based on the work of psychologist Paul Fitts in 1954, which determines ‘The time required to rapidly move to a target area is a function of the ratio between the distance to the target and the width of the target”.</p>
      <p>This law directly affects the user experience when designing buttons, for example, larger ones, especially on mobile devices that are tactile, reaching the conclusion that with smaller buttons it is more difficult to interact. A practical example would be the following.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/fitts-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>This would be a case of application of Fitts’s Law, it is close to the one that presupposes the reading zone of the mouse (on the right, since we are Western and we read from left to right), it also covers a large space (it is not a small button) so the probability of “hit” and click on the button is high.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Hick’s Law</h2>
        <p>The time it takes to make a decision increases as the number of options increases.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/hick-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Thus, the time it takes for a user to make a decision increases the more options they have, it is obvious that the user tries to contemplate all the possible options and what they entail and will take what he or she considers the best option.</p>
      <p>Which is better?</p>
      <ul>
        <li>A single form with 20 options to complete</li>
        <li>A step-by-step form with 4 stages and 5 options per stage.</li>
      </ul>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/hick-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>It obviously depends on the sector and type of user, but Hick’s law tells us that the second option is the better one. A practical case would be the following.</p>
      <p>A practical example of taking simplicity to extremes and applying Hick’s law. Airbnb does not cut and prefers to divide the process and simplify it.</p>
      <p>“Tell me directly where you want to go, then I’ll ask you when and how”.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Jakob’s Law</h2>
        <p>Users spend most of their time on other sites. This means that users prefer your site to work the same way as all the other sites they already know.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/jakob-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>The best way to create something new is to look for references so that the first clients understand what it is about and are able to make associations.</p>
      <p>What does it mean? It means that users spend most of their time on other websites (in case they do not know yours). This means that they prefer similar sites to the ones they frequent and are already familiar with. That’s why it’s better not be over-original or over-creative.</p>
      <p>This norm was coined by Jakob Nielsen, director of the Nielsen Norman Group that he co-founded with Apple’s vice president of research. I do not know, I get the impression that he does actually know something about the topic :).</p>
      <p>A practical case of this law would be any e-commerce.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/jakob-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>95% of e-commerce have a provision of this style. An image on the left and Name, price, configuration and “Add to cart”on the right.</p>
      <p>If you are going to set up an e-commerce, the logical thing would be for you to consider this structure, since a potential client knows how e-commerce works and expects something like that. Do not make them think!</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Law of Prägnanz</h2>
        <p>also known as "Laws of Simplicity"</p>
        <p>People will perceive and interpret ambiguous or complex image as the simplest form possible, because it is the interpretation that requires the least cognitive effort of us.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/law-of-pragnanz.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Also called “Law of simplicity”, which states that users perceive complex forms in the simplest way because it is the interpretation that requires less mental effort.</p>
      <p>Basically, it describes that it is easier to understand and assimilate a square than an octagon. And it requires less mental intensity to obtain an appreciation of what that is and what it is for. A practical example of this would be the following.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/law of-pragnanz-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>What does this mean? What do we see before, figure A, B or C? obviously the A, because our brain understands that it is the simplest possible way that we have to associate. An example of practical use would be:</p>
      <p>Why is the “Add to cart” button not a cart, but a square?.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Law of Proximity</h2>
        <p>Objects that are close tend to join, and in the user experience, they are understood as members of the same group.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/law-of-roximity.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Objects that are close tend to join, and in the user experience, they are understood as members of the same group.</p>
      <p>The principle holds that if you are handling a group of data, all the data that we understand that correspond to the same group should be together and if we start talking about different data there should be a space (air) between them. Our head will do the rest and differentiate them.</p>
      <p>An example of this would be…</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/law of-proximity-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Amazon is a practical example of this, despite the feeling of “chaos” at the data level, it is very clear where each group of these data is.</p>
      <ul>
        <li>The latest news are clearly differentiated from the best sellers and you have no problems to differentiate the groups.</li>
        <li>If you want to filter, you have each Technology (LCD, LED, etc) together and there is a separation between brands (LG, Samsung, etc …)</li>
      </ul>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Miller’s Law</h2>
        <p>The average person can only keep (±)7 items in their working memory.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/miller-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>According to this law, people can remember up to 7 different elements in their working memory. That is why the menus of options and navigation in a web page more or less are based on this size. Having more than 7 elements generates confusion and loss of focus of the user, who is no longer able to remember where was the option that he now is looking for.</p>
      <p>That is why in applications or services that have a multitude of options, they are grouped to reduce the memory load.</p>
      <p>It is named in honor of George Miller, as it is part of his theory of communication. An example of this law would be:</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/miller-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Although Netflix has thousands of categories for the films, it understands that it would be very difficult to remember, so it makes the user remember not the content, but the position. Instead, he prefers to have the 6 most ”Top” categories, and from there to navigate in depth.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Parkinson’s Law</h2>
        <p>Any task will inflate until all of the available time is spent.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/parkinson-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>This law says that any task is prolonged until the time available for doing it is completely exhausted. It is also a law of productivity.</p>
      <p>Because of a cultural issue, we think that the more hours we dedicate to something, the better it is. But practice shows that it is not like that.</p>
      <p>When we know we have more time, our brain relaxes. On the other hand, when we feel the pressure of the deadline, we focus on doing what is important and that we must finish on time.</p>
      <p>What does this mean at the User Experience level?</p>
      <p>That the user has established certain temporary “rules”, depending on the type of user obviously, but to give an example, making a purchase on Amazon (once you have selected the purchase obviously) has a duration of 5 minutes (between filling in the data, card, etc …) Anything shortening those deadlines will be positive.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/parkinson-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Stripe, for example, simplifies the payment process and allows you to remember the data, so in subsequent sales, the time of purchase will be greatly reduced.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Serial Position Effect</h2>
        <p>Users have a propensity to best remember the first and last items in a series.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/serial-position-effect.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>According to this law, among the elements of a series, users will always remember better the first one and the last one.</p>
      <p>And that is the reason why we see that in the application navigation bar, the most important actions are placed on the left or on the right, introducing elements such as start or profile taking into account the serial position.</p>
      <p>A practical example of this law would be in Instagram.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/serial-position-effect-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>The first element is Home (People) and the last element is Profile (You). The most important and core parts of the use of the application.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Tesler’s Law</h2>
        <p>Tesler's Law, also known as The Law of Conservation of Complexity, states that for any system there is a certain amount of complexity which cannot be reduced.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/tesler-law.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Also known as ‘conservation of complexity’, by Larry Tesler. It establishes that for any system there is a certain complexity that can not be reduced to the maximum.</p>
      <p>Every UX designer would like to simplify processes and make them faster, but we have to take into account that there are things that cannot be simplified to be more basic. (Unless the format changes).</p>
      <p>We would find an example in any agency to buy tickets.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/tesler-law-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>As much as we like it and want it, to book a flight there are 4 basic data. (Origin destiny, when and how many). Without those 4 data the process can not be completed.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Von Restorff Effect</h2>
        <p>The Von Restorff effect, also known as The Isolation Effect, predicts that when multiple similar object are present, the one that differs from the rest is most likely to be remembered.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/von-restorff-effect.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>This principle, also known as “isolation effect”, predicts that when there are several objectives, the one that differs from the rest will always be remembered.</p>
      <p>It’s simple, different things attract us and are striking to us, the typical. “Go!” In UX is precisely a symptom of this law.</p>
      <p>A practical example of this law would be the Customer Support like Intercom.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/von-restorff-effect-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>In this case, the service comes out on the intercom website itself and does not differ so much, however, you do notice the change of “style”, as it is something superimposed that initially should not be there, with a background and even a different typeface.</p>
      <p>At the end, we want to draw attention on something different, in form and colors.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <h2 class="title">Zeigarnik Effect</h2>
        <p>People remember uncompleted or interrupted tasks better than completed tasks.</p>
      </div>
      <div class="col-4 offset-1">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/zeigarnik-effect.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Defines the tendency to remember unfinished or interrupted tasks more easily than those that have been completed.</p>
      <p>Applying this concept to the UX, we could talk about new features (services), offer them for certain moment, and tell the user that if he wants to continue he must do X action (register, buy, etc …). A visual example we could mention is one with a list of pending tasks to contemplate, such as in the case of Startupxplore.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2">
        <img class="img-fluid" src="{{ site.baseur }}/assets/img/zeigarnik-effect-example.png" alt="">
      </div>
    </div>
    <aside class="notes">
      <p>Where you leave certain tasks “incomplete” so that your internal process wants to complete them, but you also have that feeling remembering you they are incomplete.</p>
    </aside>
  </section>

  <section>
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <h2 class="title">"A good UX contemplates or tries to contemplate all the options that a user is going to find, and tries to simplify the path to complete the service you are offering."</h2>
      </div>
    </div>
  </section>

</section>