<section>
  <h1 class="display-3"><b>Principles of Design</b></h1>

  <section>
    <h2 class="title">Balance</h2>
    <div class="row">
      <div class="col-8">
        <p>Arranging parts to achieve a state of equilibrium between forces of influences.</p>
        <p><b>Examples</b>: Symmetrical, Asymmetrical, Radial</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/balance-1.jpeg" alt="">
          </div>
          <div class="col">
            <img class="img-fluid" src="/assets/img/balance-2.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Contrast</h2>
    <div class="row">
      <div class="col-8">
        <p>Interaction of contradictory elements. Expresses the duality seen in opposites.</p>
        <p><b>Examples</b>: Large & Small, rough & smooth, thick & thin, light & dark, organic & geometric</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/contrast-1.jpeg" alt="">
          </div>
          <div class="col">
            <img class="img-fluid" src="/assets/img/contrast-2.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Emphasis & Subordination</h2>
    <div class="row">
      <div class="col-8">
        <p>Establishing centers of interest which focus the viewer’s attention. If all the elements are given relatively equal weight, there will be no emphasis.</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/emphasis-and-subordination.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Directional Forces</h2>
    <div class="row">
      <div class="col-8">
        <p>Both implied and actual, they help guide the eye and mind movement of the viewer. They can also bind the work into a single entity.</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/directional-forces.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Proportion</h2>
    <div class="row">
      <div class="col-8">
        <p>The size relationship of parts to the entire work, and each to the other. Very often associated with figural art. (the image shows the Golden Ratio)</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/proportion.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Scale</h2>
    <div class="row">
      <div class="col-8">
        <p>The real, apparent size of an object seen in relation to other objects, people, its environment, or the proportions of the picture plane.</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/scale.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Repetition & Rhythm</h2>
    <div class="row">
      <div class="col-8">
        <p>The recurrence of a design element coupled with a certain order to the repetition. Provides continuity, flow, direction forces etc.</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/repetition-and-rhythm.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="title">Unity</h2>
    <div class="row">
      <div class="col-8">
        <p>The force operating within a work of art which can give it the appearance of oneness or resolution. The consistency of the concept.</p>
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="/assets/img/repetition-and-rhythm.jpeg" alt="">
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
