<section>
  <h1 class="display-3"><b>Training Schedule</b></h1>
  <section>
    <h2 class="title">Week 1</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Topic</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">March 4</td>
          <td>9AM-12NN</td>
          <td>Principles of Design</td>
          <td>TR 20, 11F</td>
        </tr>
        <tr>
          <td>1PM-4PM</td>
          <td>UX Primer</td>
          <td>TR 20, 11F</td>
        </tr>
        <tr>
          <td>March 5</td>
          <td>10AM-5PM</td>
          <td>Rapid Prototyping</td>
          <td>TR 20, 11F</td>
        </tr>
        <tr>
          <td>March 6</td>
          <td>1PM-5PM</td>
          <td>Usability Testing</td>
          <td>TR 16-18, 6F</td>
        </tr>
        <tr>
          <td>March 7</td>
          <td>9AM-5PM</td>
          <td>Design Thinking</td>
          <td>TR 14-15, 6F</td>
        </tr>
        <tr>
          <td>March 8</td>
          <td>1PM-5PM</td>
          <td>Adobe Illustrator</td>
          <td>TR 16-18, 6F</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="title">Week 2</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Topic</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">March 12</td>
          <td>9AM-10AM</td>
          <td>SABA 101</td>
          <td>TR 19, 11F</td>
        </tr>
        <tr>
          <td>1PM-2PM</td>
          <td>Setting goals in Workday</td>
          <td>TR 19, 11F</td>
        </tr>
        <tr>
          <td>10AM-5PM</td>
          <td>Agile Overview</td>
          <td>TR 19, 11F</td>
        </tr>
        <tr>
          <td>March 13</td>
          <td>9AM-5PM</td>
          <td>HTML, CSS, JavaScript (Part 1)</td>
          <td>TR 19, 11F</td>
        </tr>
        <tr>
          <td>March 14</td>
          <td>9AM-5PM</td>
          <td>HTML, CSS, JavaScript (Part 2)</td>
          <td>TR 19, 11F</td>
        </tr>
        <tr>
          <td>March 15</td>
          <td>1PM-6PM</td>
          <td>Angular Framework Introduction</td>
          <td>TR 19, 11F</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

